body{
	background: brown;
}


.inlineDisplay{
    display: inline;
}

.blockDisplay{
    display:block;
}

.indexPageLinks > p{
    margin:20px;
    padding:20px;
    display:block
}


.mainPage{
	background-color: black;
}


.hiddenObject{
	 visibility: hidden;
}


.titleMain{
	font-family:"Moon Flower Bold",Marion,Helvetica,sans-serif;
	color: white;
}